@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.home {
  position: relative;
  width: 100%;
  background-image: linear-gradient(to right, rgba(27, 27, 27, 0.853), rgba(0, 0, 0, 0.596)),url("/public/home.jpg");
  background-position: right;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

input,
textarea {
  outline: none;
  width: 100%;
  border: none;
  font-size: .8rem;
  padding: .2rem;
  color: #808dad;
  background-color: rgba(255, 255, 255, 0);
  border: 1px #808dad solid;
  transition: 1s;
}

.stickyexample {
  position: -webkit-sticky; /* for browser compatibility */
  position: sticky;
  top: 10px;
  background-color: #33353d;
  color: #b2b3dd;
  max-height: 100vh;
  overflow: hidden;
}